.widget {
    width: fit-content;
    border: none;
    resize: none;
    padding: 1rem;
}

.widget:focus {
    outline: none;
}

div.widgetContainer {
    width: fit-content;
    border: 2px solid black;
    border-radius: 0.25rem;
    margin-top: 1rem;
    margin-right: 0.75rem;
}
