.widget {
    width: 100%;
    border: none;
    resize: none;
    padding: 1rem;
}

.widget:focus {
    outline: none;
}

div.widgetContainer {
    border: 2px solid black;
    border-radius: 0.25rem;
    margin-top: 1rem;
}
