.page {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100svh;
  padding: 1.25rem;
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  flex-direction: column;
  border: 3px solid #DD2A1D;
  border-radius: 10px;
  width: 100svw;
  padding: 20px;
  overflow: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}



@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

}
